.set-icone-home {

	display: flex;
    align-items: center; 
    justify-content: center; 

}

.puxar-pra-cima{
	margin: 0;
	padding: 0;
}


.center{
	position: relative;
	margin-top: 5%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="checkbox"]{
	position: relative;
	width: 40px;
	height: 20px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	transition: .5s;
}
input:checked[type="checkbox"]{
	background: #03a9f4;
}
input[type="checkbox"]:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1,1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: .5s;
}
input:checked[type="checkbox"]:before{
	left: 20px;
}


.icone-home{
	height: 30%;
	width: 30%;
}
.hero-section {
	height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	color: #474747;
}
p {
	font-size: 14.1px;
	color: #878787;
	line-height: 2.2;
	font-weight: 500;
}
h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}
.hero-text {
	text-align: center;
	padding-top: 45vh;
	margin-bottom: 105px;
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}